@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0;0,400;0,500;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.Main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.About-us{
background-color: rgb(1, 2, 3);
background-size: cover;
color: white;
text-align: center;
padding: 100px 0;
}

.About-us{
    margin-left: 50%;
    margin-right: 50%;
}

.container{
    align-self: baseline;
    align-content: left;
}